## Introduction

### Objective

### 문제 정의

### 데이터셋 설명

## Data Preparation and Preprocessing

### Data Loading

In [7]:
import pandas as pd

# 데이터 불러오기
df = pd.read_csv('week_data.csv')
df

,week,search_query,search_query_score,search_quey_volume,imp_total_count,imp_ASIN_count,imp_ASIN_share,clk_total_count,clk_click_rate,clk_ASIN_count,clk_ASIN_share,cart_total_count,cart_add_rate,cart_ASIN_count,cart_ASIN_share,pur_total_count,pur_purchase_rate,pur_ASIN_count,pur_ASIN_share
0,Week 3,sensory toys,1,35253,815103,9794,1.2000,9358,26.5500,80,0.8500,2899,8.2200,45,1.5500,526,1.4900,11,2.09
1,Week 3,sensory toys for autistic children,2,23354,509901,2677,0.5300,7784,33.3300,39,0.5000,2086,8.9300,26,1.2500,325,1.3900,9,2.77
2,Week 3,sensory toys for kids 5-7,3,6531,141188,1959,1.3900,1812,27.7400,17,0.9400,550,8.4200,11,2.0000,116,1.7800,4,3.45
3,Week 3,autism sensory toys,4,6932,149596,2073,1.3900,1829,26.3800,29,1.5900,559,8.0600,11,1.9700,95,1.3700,3,3.16
4,Week 3,autism sensory products,5,4218,85699,1329,1.5500,1173,27.8100,11,0.9400,286,6.7800,5,1.7500,16,0.3800,1,6.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,Week 30,crazy glow bungee bandz,96,2,85,5,0.0588,3,0.6000,2,0.6667,1,0.2000,1,1.0000,0,0.0000,0,-
2585,Week 30,squishy toys for autistic children,97,2,429,5,0.0117,19,0.8636,2,0.1053,5,0.2273,1,0.2000,0,0.0000,0,-
2586,Week 30,chew fidget,98,43,4249,39,0.0092,43,0.2966,1,0.0233,19,0.1310,1,0.0526,3,0.0207,0,0
2587,Week 30,huggy wuggy leg stretchy toys,99,1,38,2,0.0526,2,1.0000,2,1.0000,1,0.5000,1,1.0000,0,0.0000,0,-
2588,Week 30,silicone toys kids,100,1,57,2,0.0351,2,0.6667,2,1.0000,1,0.3333,1,1.0000,0,0.0000,0,-

In [9]:
# Check the basic information of the dataset
print("Number of rows and columns:", df.shape)
print("Column names and data types:")
print(df.dtypes)

# Preview the first few rows of the dataset
print("First 5 rows of the dataset:")
print(df.head())

# Summary statistics of the dataset
print("Descriptive statistics:")
print(df.describe())

# Dataset info (data types, missing values, etc.)
print("Dataset information:")
print(df.info())

Number of rows and columns: (2589, 19)
Column names and data types:
week                   object
search_query           object
search_query_score      int64
search_quey_volume      int64
imp_total_count         int64
imp_ASIN_count          int64
imp_ASIN_share        float64
clk_total_count         int64
clk_click_rate        float64
clk_ASIN_count          int64
clk_ASIN_share        float64
cart_total_count        int64
cart_add_rate         float64
cart_ASIN_count         int64
cart_ASIN_share       float64
pur_total_count         int64
pur_purchase_rate     float64
pur_ASIN_count          int64
pur_ASIN_share         object
dtype: object
First 5 rows of the dataset:
     week                        search_query  search_query_score  \
0  Week 3                        sensory toys                   1
1  Week 3  sensory toys for autistic children                   2
2  Week 3           sensory toys for kids 5-7                   3
3  Week 3                 autism sensory toys                   4
4  Week 3             autism sensory products                   5

   search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
0               35253           815103            9794            1.20
1               23354           509901            2677            0.53
2                6531           141188            1959            1.39
3                6932           149596            2073            1.39
4                4218            85699            1329            1.55

   clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
0             9358           26.55              80            0.85
1             7784           33.33              39            0.50
2             1812           27.74              17            0.94
3             1829           26.38              29            1.59
4             1173           27.81              11            0.94

   cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
0              2899           8.22               45             1.55
1              2086           8.93               26             1.25
2               550           8.42               11             2.00
3               559           8.06               11             1.97
4               286           6.78                5             1.75

   pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share
0              526               1.49              11           2.09
1              325               1.39               9           2.77
2              116               1.78               4           3.45
3               95               1.37               3           3.16
4               16               0.38               1           6.25
Descriptive statistics:
       search_query_score  search_quey_volume  imp_total_count  \
count         2589.000000        2.589000e+03     2.589000e+03
mean            50.650830        5.824466e+03     1.505285e+05
std             28.839804        7.619299e+04     1.780476e+06
min              1.000000        1.000000e+00     1.400000e+01
25%             26.000000        1.200000e+01     5.360000e+02
50%             51.000000        1.320000e+02     4.998000e+03
75%             76.000000        8.520000e+02     3.000800e+04
max            100.000000        3.313904e+06     7.767592e+07

       imp_ASIN_count  imp_ASIN_share  clk_total_count  clk_click_rate  \
count     2589.000000     2589.000000      2589.000000     2589.000000
mean       388.534569        0.466070      1638.595211       10.032488
std       2060.808086        1.072682     14487.693976       21.672678
min          1.000000        0.000000         1.000000        0.053300
25%         10.000000        0.007200         9.000000        0.278300
50%         60.000000        0.017900        67.000000        0.386600
75%        243.000000        0.070200       364.000000        1.000000
max      47625.000000       11.110000    570036.000000      200.000000

       clk_ASIN_count  clk_ASIN_share  cart_total_count  cart_add_rate  \
count     2589.000000     2589.000000       2589.000000    2589.000000
mean         4.851680        4.201744        511.405948       4.940433
std         20.379068       16.033115       4741.066090      15.224089
min          0.000000        0.000000          1.000000       0.011300
25%          1.000000        0.011400          4.000000       0.086500
50%          2.000000        0.076900         21.000000       0.153800
75%          3.000000        0.940000        110.000000       1.000000
max        574.000000      100.000000     184445.000000     150.000000

       cart_ASIN_count  cart_ASIN_share  pur_total_count  pur_purchase_rate  \
count      2589.000000      2589.000000      2589.000000        2589.000000
mean          2.696022         6.141506       129.700657           3.195256
std          10.327403        20.076685      1808.145754          13.511996
min           0.000000         0.000000         0.000000           0.000000
25%           1.000000         0.022700         1.000000           0.012700
50%           1.000000         0.166700         4.000000           0.037300
75%           2.000000         1.000000        21.000000           0.880000
max         301.000000       100.000000     76767.000000         150.000000

       pur_ASIN_count
count     2589.000000
mean         1.037466
std          3.356657
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max        103.000000
Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   week                2589 non-null   object
 1   search_query        2589 non-null   object
 2   search_query_score  2589 non-null   int64
 3   search_quey_volume  2589 non-null   int64
 4   imp_total_count     2589 non-null   int64
 5   imp_ASIN_count      2589 non-null   int64
 6   imp_ASIN_share      2589 non-null   float64
 7   clk_total_count     2589 non-null   int64
 8   clk_click_rate      2589 non-null   float64
 9   clk_ASIN_count      2589 non-null   int64
 10  clk_ASIN_share      2589 non-null   float64
 11  cart_total_count    2589 non-null   int64
 12  cart_add_rate       2589 non-null   float64
 13  cart_ASIN_count     2589 non-null   int64
 14  cart_ASIN_share     2589 non-null   float64
 15  pur_total_count     2589 non-null   int64
 16  pur_purchase_rate   2589 non-null   float64
 17  pur_ASIN_count      2589 non-null   int64
 18  pur_ASIN_share      2575 non-null   object
dtypes: float64(6), int64(10), object(3)
memory usage: 384.4+ KB
None