## 1. Introduction

### Objective

The goal of this project is to extract **conversion keywords** and **related search terms** based on the **search query** (```search_query```) data.

**TF-IDF (Term Frequency-Inverse Document Frequency)** is applied to vectorize the search queries, followed by running machine learning models to identify important keywords. Additionally, based on the extracted conversion keywords and related search terms, a model will be built to predict the **purchase rate** (```pur_purchase_rate```). 

Ultimately, this project aims to **predict which search queries are more likely to lead to purchases**.

### Problem Definition

This project focuses on building a machine learning model that uses **search query data** to extract **conversion keywords** and **related search terms** and to predict the **purchase rate** (```pur_purchase_rate```). From the dataset, the **search_query** column is vectorized using TF-IDF, and the resulting features are input into a machine learning model to address the **purchase rate prediction** problem.

1. **Conversion Keyword Extraction**: Using the TF-IDF method, important keywords will be extracted from the search query, helping identify conversion keywords that are more likely to result in purchases.

2. **Related Search Term Extraction**: The TF-IDF model will also be used to identify related search terms, helping to uncover relationships between similar queries.

3. **Purchase Rate Prediction**: A machine learning model will be developed to predict the purchase rate (pur_purchase_rate), estimating the likelihood that a search query will result in a purchase. Techniques such as regression analysis will be applied for this task.

### Dataset Description

**Source**: This dataset is sourced from the Kaggle page [Amazon Advertising Performance Metrics](https://www.kaggle.com/datasets/mayuriawati/amazon-advertising-performance-metrics/data), which includes performance metrics related to Amazon's advertising campaigns. The dataset provides detailed information on search queries, click counts, cart interactions, and purchase rates related to online advertisements.

**Key Variables**:

```search_query```: Specific keywords or phrases used by customers when searching for products on Amazon.  
```pur_purchase_rate```: The percentage of times the advertisement resulted in a customer making a purchase.  
```clk_click_rate```: The percentage of times the advertisement was clicked on relative to the number of times it was displayed.  
```imp_total_count```: The total number of times the advertisement was displayed to customers in search results or on product pages.  
```clk_total_count```: The total number of clicks on the advertisement.  
```cart_add_rate```: The percentage of times the advertisement resulted in a product being added to a customer's cart.  
```cart_total_count```: The total number of times customers added a product to their cart after clicking on the advertisement.

## 2. Data Preparation and Preprocessing

### Data Loading

In [1]:
import pandas as pd

# Loading Data
# Make sure that the data file is in the same directory as the code file before running the code.

df = pd.read_csv('week_data.csv')
df

,week,search_query,search_query_score,search_quey_volume,imp_total_count,imp_ASIN_count,imp_ASIN_share,clk_total_count,clk_click_rate,clk_ASIN_count,clk_ASIN_share,cart_total_count,cart_add_rate,cart_ASIN_count,cart_ASIN_share,pur_total_count,pur_purchase_rate,pur_ASIN_count,pur_ASIN_share
0,Week 3,sensory toys,1,35253,815103,9794,1.2000,9358,26.5500,80,0.8500,2899,8.2200,45,1.5500,526,1.4900,11,2.09
1,Week 3,sensory toys for autistic children,2,23354,509901,2677,0.5300,7784,33.3300,39,0.5000,2086,8.9300,26,1.2500,325,1.3900,9,2.77
2,Week 3,sensory toys for kids 5-7,3,6531,141188,1959,1.3900,1812,27.7400,17,0.9400,550,8.4200,11,2.0000,116,1.7800,4,3.45
3,Week 3,autism sensory toys,4,6932,149596,2073,1.3900,1829,26.3800,29,1.5900,559,8.0600,11,1.9700,95,1.3700,3,3.16
4,Week 3,autism sensory products,5,4218,85699,1329,1.5500,1173,27.8100,11,0.9400,286,6.7800,5,1.7500,16,0.3800,1,6.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,Week 30,crazy glow bungee bandz,96,2,85,5,0.0588,3,0.6000,2,0.6667,1,0.2000,1,1.0000,0,0.0000,0,-
2585,Week 30,squishy toys for autistic children,97,2,429,5,0.0117,19,0.8636,2,0.1053,5,0.2273,1,0.2000,0,0.0000,0,-
2586,Week 30,chew fidget,98,43,4249,39,0.0092,43,0.2966,1,0.0233,19,0.1310,1,0.0526,3,0.0207,0,0
2587,Week 30,huggy wuggy leg stretchy toys,99,1,38,2,0.0526,2,1.0000,2,1.0000,1,0.5000,1,1.0000,0,0.0000,0,-
2588,Week 30,silicone toys kids,100,1,57,2,0.0351,2,0.6667,2,1.0000,1,0.3333,1,1.0000,0,0.0000,0,-

### Data Structure

In [2]:

print("Number of rows and columns:", df.shape) # Check the basic information of the dataset
print("Column names and data types:")
print(df.dtypes)


print("First 5 rows of the dataset:") # Preview the first few rows of the dataset
print(df.head())


print("Descriptive statistics:") # Summary statistics of the dataset
print(df.describe())


print("Dataset information:") # Dataset info (data types, missing values, etc.)
print(df.info())

Number of rows and columns: (2589, 19)
Column names and data types:
week                   object
search_query           object
search_query_score      int64
search_quey_volume      int64
imp_total_count         int64
imp_ASIN_count          int64
imp_ASIN_share        float64
clk_total_count         int64
clk_click_rate        float64
clk_ASIN_count          int64
clk_ASIN_share        float64
cart_total_count        int64
cart_add_rate         float64
cart_ASIN_count         int64
cart_ASIN_share       float64
pur_total_count         int64
pur_purchase_rate     float64
pur_ASIN_count          int64
pur_ASIN_share         object
dtype: object
First 5 rows of the dataset:
     week                        search_query  search_query_score  \
0  Week 3                        sensory toys                   1
1  Week 3  sensory toys for autistic children                   2
2  Week 3           sensory toys for kids 5-7                   3
3  Week 3                 autism sensory toys                   4
4  Week 3             autism sensory products                   5

   search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
0               35253           815103            9794            1.20
1               23354           509901            2677            0.53
2                6531           141188            1959            1.39
3                6932           149596            2073            1.39
4                4218            85699            1329            1.55

   clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
0             9358           26.55              80            0.85
1             7784           33.33              39            0.50
2             1812           27.74              17            0.94
3             1829           26.38              29            1.59
4             1173           27.81              11            0.94

   cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
0              2899           8.22               45             1.55
1              2086           8.93               26             1.25
2               550           8.42               11             2.00
3               559           8.06               11             1.97
4               286           6.78                5             1.75

   pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share
0              526               1.49              11           2.09
1              325               1.39               9           2.77
2              116               1.78               4           3.45
3               95               1.37               3           3.16
4               16               0.38               1           6.25
Descriptive statistics:
       search_query_score  search_quey_volume  imp_total_count  \
count         2589.000000        2.589000e+03     2.589000e+03
mean            50.650830        5.824466e+03     1.505285e+05
std             28.839804        7.619299e+04     1.780476e+06
min              1.000000        1.000000e+00     1.400000e+01
25%             26.000000        1.200000e+01     5.360000e+02
50%             51.000000        1.320000e+02     4.998000e+03
75%             76.000000        8.520000e+02     3.000800e+04
max            100.000000        3.313904e+06     7.767592e+07

       imp_ASIN_count  imp_ASIN_share  clk_total_count  clk_click_rate  \
count     2589.000000     2589.000000      2589.000000     2589.000000
mean       388.534569        0.466070      1638.595211       10.032488
std       2060.808086        1.072682     14487.693976       21.672678
min          1.000000        0.000000         1.000000        0.053300
25%         10.000000        0.007200         9.000000        0.278300
50%         60.000000        0.017900        67.000000        0.386600
75%        243.000000        0.070200       364.000000        1.000000
max      47625.000000       11.110000    570036.000000      200.000000

       clk_ASIN_count  clk_ASIN_share  cart_total_count  cart_add_rate  \
count     2589.000000     2589.000000       2589.000000    2589.000000
mean         4.851680        4.201744        511.405948       4.940433
std         20.379068       16.033115       4741.066090      15.224089
min          0.000000        0.000000          1.000000       0.011300
25%          1.000000        0.011400          4.000000       0.086500
50%          2.000000        0.076900         21.000000       0.153800
75%          3.000000        0.940000        110.000000       1.000000
max        574.000000      100.000000     184445.000000     150.000000

       cart_ASIN_count  cart_ASIN_share  pur_total_count  pur_purchase_rate  \
count      2589.000000      2589.000000      2589.000000        2589.000000
mean          2.696022         6.141506       129.700657           3.195256
std          10.327403        20.076685      1808.145754          13.511996
min           0.000000         0.000000         0.000000           0.000000
25%           1.000000         0.022700         1.000000           0.012700
50%           1.000000         0.166700         4.000000           0.037300
75%           2.000000         1.000000        21.000000           0.880000
max         301.000000       100.000000     76767.000000         150.000000

       pur_ASIN_count
count     2589.000000
mean         1.037466
std          3.356657
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max        103.000000
Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589 entries, 0 to 2588
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   week                2589 non-null   object
 1   search_query        2589 non-null   object
 2   search_query_score  2589 non-null   int64
 3   search_quey_volume  2589 non-null   int64
 4   imp_total_count     2589 non-null   int64
 5   imp_ASIN_count      2589 non-null   int64
 6   imp_ASIN_share      2589 non-null   float64
 7   clk_total_count     2589 non-null   int64
 8   clk_click_rate      2589 non-null   float64
 9   clk_ASIN_count      2589 non-null   int64
 10  clk_ASIN_share      2589 non-null   float64
 11  cart_total_count    2589 non-null   int64
 12  cart_add_rate       2589 non-null   float64
 13  cart_ASIN_count     2589 non-null   int64
 14  cart_ASIN_share     2589 non-null   float64
 15  pur_total_count     2589 non-null   int64
 16  pur_purchase_rate   2589 non-null   float64
 17  pur_ASIN_count      2589 non-null   int64
 18  pur_ASIN_share      2575 non-null   object
dtypes: float64(6), int64(10), object(3)
memory usage: 384.4+ KB
None

In [3]:
null_percentage = (df['pur_ASIN_share'].isnull().sum() / len(df)) * 100
null_percentage = round(null_percentage, 2)
print(f"Percentage of null values in 'pur_ASIN_share': {null_percentage}%")

Percentage of null values in 'pur_ASIN_share': 0.54%

### Data Processing

In [4]:
# Missing Data
# Most of the data is non-null, and the 'pur_ASIN_share' column, which is the only one containing null values, has less than 1% null values. Therefore, we will drop all rows with null data.
df = df.dropna()

In [5]:
# Duplicate Check
duplicates = df.duplicated().sum() 
print("Number of Duplicates: ",duplicates)

Number of Duplicates:  0

In [6]:
# CHECKING DATA IS CORRECT 

# Based on a sample of data used for calculation, 'clk_click_rate' is calculated using the 'search_quey_volume' and 'clk_total_count' columns.
# 'cart_add_rate' is calculated using 'search_query_volume' and 'cart_total_count'. 
# 'pur_purchase_rate' is calculated using 'search_query_volume' and 'pur_total_count'.

df.loc[:, 'CTR'] = df['clk_total_count'] / df['search_quey_volume'] * 100 # Click Through Rate = clk_total_count / search_query_volume * 100
df.loc[:, 'CTR'] = df['CTR'].round(2)
difference_count = (df.loc[:, 'clk_click_rate'] != df.loc[:, 'CTR']).sum() # Count the number of rows where 'clk_click_rate' and 'CTR' are different


print(difference_count) # Ignore the warning message

1990

C:\Users\EunseoS\AppData\Local\Temp\ipykernel_724\3171575881.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'CTR'] = df['clk_total_count'] / df['search_quey_volume'] * 100 # Click Through Rate = clk_total_count / search_query_volume * 100

In [7]:
differences = df[df['clk_click_rate'] != df['CTR']]
print(differences)

         week                        search_query  search_query_score  \
124    Week 2               sensory stretchy toys                  25
600   Week 49                        sensory toys                   1
601   Week 49  sensory toys for autistic children                   2
602   Week 49          autistic toys for boys 5-7                   3
603   Week 49  toys for autistic children age 5-7                   4
...       ...                                 ...                 ...
2584  Week 30             crazy glow bungee bandz                  96
2585  Week 30  squishy toys for autistic children                  97
2586  Week 30                         chew fidget                  98
2587  Week 30       huggy wuggy leg stretchy toys                  99
2588  Week 30                  silicone toys kids                 100

      search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
124                   32              858              40          4.6600
600               132795          3017056           44620          0.0148
601                93823          2076431           17798          0.0086
602                13630           296697            2564          0.0086
603                16996           386371            2444          0.0063
...                  ...              ...             ...             ...
2584                   2               85               5          0.0588
2585                   2              429               5          0.0117
2586                  43             4249              39          0.0092
2587                   1               38               2          0.0526
2588                   1               57               2          0.0351

      clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
124                13         40.6300               4         30.7700
600             34809          0.2621             336          0.0097
601             28863          0.3076             169          0.0059
602              4000          0.2935              54          0.0135
603              5237          0.3081              42          0.0080
...               ...             ...             ...             ...
2584                3          0.6000               2          0.6667
2585               19          0.8636               2          0.1053
2586               43          0.2966               1          0.0233
2587                2          1.0000               2          1.0000
2588                2          0.6667               2          1.0000

      cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
124                  4        12.5000                2          50.0000
600              10032         0.0755              141           0.0141
601               8204         0.0874               73           0.0089
602               1113         0.0817               24           0.0216
603               1412         0.0831               22           0.0156
...                ...            ...              ...              ...
2584                 1         0.2000                1           1.0000
2585                 5         0.2273                1           0.2000
2586                19         0.1310                1           0.0526
2587                 1         0.5000                1           1.0000
2588                 1         0.3333                1           1.0000

      pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share  \
124                 1             3.1300               1            100
600              2106             0.0159              41         0.0195
601              1859             0.0198              16         0.0086
602               307             0.0225              10         0.0326
603               350             0.0206               6         0.0171
...               ...                ...             ...            ...
2584                0             0.0000               0              -
2585                0             0.0000               0              -
2586                3             0.0207               0              0
2587                0             0.0000               0              -
2588                0             0.0000               0              -

         CTR
124    40.62
600    26.21
601    30.76
602    29.35
603    30.81
...      ...
2584  150.00
2585  950.00
2586  100.00
2587  200.00
2588  200.00

[1990 rows x 20 columns]

- Upon inspecting the data, we identified calculation errors in several rows. For example, row 124 contains a rounding error, and row 600 has a decimal point notation error.  
- We will replace the values in these rows with the newly calculated CTR values and update the original `clk_click_rate` column accordingly. After updating the `clk_click_rate` column, we will delete the `CTR` column as it is no longer needed.

In [8]:
df.loc[df['clk_click_rate'] != df['CTR'], 'clk_click_rate'] = df.loc[df['clk_click_rate'] != df['CTR'], 'CTR'].values # Replace 'clk_click_rate' values with the newly calculated 'CTR' values for the rows with differences
df = df.drop(columns=['CTR'])

- Apply the same logic to the ```cart_add_rate``` column and ```pur_purchase_rate``` as well.

In [9]:
# cart_add_rate = cart_total_count / search_query_volume * 100
# ATC(Add To Cart): The percentage of website visitors who add an item to their cart
df.loc[:, 'ATC'] = df['cart_total_count'] / df['search_quey_volume'] * 100

# Round the ATC values to 2 decimal places
df.loc[:, 'ATC'] = df['ATC'].round(2)

# Count the number of rows where 'clk_click_rate' and 'ATC' are different
difference_count = (df['cart_add_rate'] != df['ATC']).sum()

# Print the number of rows with differences
print(difference_count)

1989

In [10]:
differences = df[df['cart_add_rate'] != df['ATC']]
print(differences)

         week                        search_query  search_query_score  \
600   Week 49                        sensory toys                   1
601   Week 49  sensory toys for autistic children                   2
602   Week 49          autistic toys for boys 5-7                   3
603   Week 49  toys for autistic children age 5-7                   4
604   Week 49                  bunmo sensory toys                   5
...       ...                                 ...                 ...
2584  Week 30             crazy glow bungee bandz                  96
2585  Week 30  squishy toys for autistic children                  97
2586  Week 30                         chew fidget                  98
2587  Week 30       huggy wuggy leg stretchy toys                  99
2588  Week 30                  silicone toys kids                 100

      search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
600               132795          3017056           44620          0.0148
601                93823          2076431           17798          0.0086
602                13630           296697            2564          0.0086
603                16996           386371            2444          0.0063
604                  712            15970             867          0.0543
...                  ...              ...             ...             ...
2584                   2               85               5          0.0588
2585                   2              429               5          0.0117
2586                  43             4249              39          0.0092
2587                   1               38               2          0.0526
2588                   1               57               2          0.0351

      clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
600             34809           26.21             336          0.0097
601             28863           30.76             169          0.0059
602              4000           29.35              54          0.0135
603              5237           30.81              42          0.0080
604               388           54.49              41          0.1057
...               ...             ...             ...             ...
2584                3          150.00               2          0.6667
2585               19          950.00               2          0.1053
2586               43          100.00               1          0.0233
2587                2          200.00               2          1.0000
2588                2          200.00               2          1.0000

      cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
600              10032         0.0755              141           0.0141
601               8204         0.0874               73           0.0089
602               1113         0.0817               24           0.0216
603               1412         0.0831               22           0.0156
604                188         0.2640               18           0.0957
...                ...            ...              ...              ...
2584                 1         0.2000                1           1.0000
2585                 5         0.2273                1           0.2000
2586                19         0.1310                1           0.0526
2587                 1         0.5000                1           1.0000
2588                 1         0.3333                1           1.0000

      pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share  \
600              2106             0.0159              41         0.0195
601              1859             0.0198              16         0.0086
602               307             0.0225              10         0.0326
603               350             0.0206               6         0.0171
604                85             0.1194               8         0.0941
...               ...                ...             ...            ...
2584                0             0.0000               0              -
2585                0             0.0000               0              -
2586                3             0.0207               0              0
2587                0             0.0000               0              -
2588                0             0.0000               0              -

         ATC
600     7.55
601     8.74
602     8.17
603     8.31
604    26.40
...      ...
2584   50.00
2585  250.00
2586   44.19
2587  100.00
2588  100.00

[1989 rows x 20 columns]

- Upon inspecting the data, we identified calculation errors in several rows. For example, row 600 has a decimal point notation error and row 2584 shows a calculation error.
- We will replace the values in these rows with the newly calculated ATC values and update the original `cart_add_rate` column accordingly. After updating the `cart_add_rate` column, we will delete the `ATC` column as it is no longer needed.

In [11]:
df.loc[df['cart_add_rate'] != df['ATC'], 'cart_add_rate'] = df.loc[df['cart_add_rate'] != df['ATC'], 'ATC'].values
df = df.drop(columns=['ATC'])

In [12]:
# pur_purchase_rate = pur_total_count / search_query_volume  * 100 
df.loc[:, 'PUR'] = df['pur_total_count'] / df['search_quey_volume'] * 100
df.loc[:, 'PUR'] = df['PUR'].round(2)
difference_count = (df.loc[:, 'pur_purchase_rate'] != df.loc[:, 'PUR']).sum()
print(difference_count)

1810

In [13]:
differences = df[df['pur_purchase_rate'] != df['PUR']]
print(differences)

         week                        search_query  search_query_score  \
124    Week 2               sensory stretchy toys                  25
600   Week 49                        sensory toys                   1
601   Week 49  sensory toys for autistic children                   2
602   Week 49          autistic toys for boys 5-7                   3
603   Week 49  toys for autistic children age 5-7                   4
...       ...                                 ...                 ...
2578  Week 30            sensory items for adults                  90
2580  Week 30                   sensory materials                  92
2581  Week 30            toddler chew toy sensory                  93
2583  Week 30                     alzheimers toys                  95
2586  Week 30                         chew fidget                  98

      search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
124                   32              858              40          4.6600
600               132795          3017056           44620          0.0148
601                93823          2076431           17798          0.0086
602                13630           296697            2564          0.0086
603                16996           386371            2444          0.0063
...                  ...              ...             ...             ...
2578                  79             9672              44          0.0045
2580                  45             5270              43          0.0082
2581                 162            11249              43          0.0038
2583                  13             1002               5          0.0050
2586                  43             4249              39          0.0092

      clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
124                13           40.62               4         30.7700
600             34809           26.21             336          0.0097
601             28863           30.76             169          0.0059
602              4000           29.35              54          0.0135
603              5237           30.81              42          0.0080
...               ...             ...             ...             ...
2578               77           97.47               1          0.0130
2580               65          144.44               1          0.0154
2581              201          124.07               1          0.0050
2583               16          123.08               2          0.1250
2586               43          100.00               1          0.0233

      cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
124                  4          12.50                2          50.0000
600              10032           7.55              141           0.0141
601               8204           8.74               73           0.0089
602               1113           8.17               24           0.0216
603               1412           8.31               22           0.0156
...                ...            ...              ...              ...
2578                33          41.77                1           0.0303
2580                23          51.11                1           0.0435
2581                66          40.74                1           0.0152
2583                 4          30.77                1           0.2500
2586                19          44.19                1           0.0526

      pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share    PUR
124                 1             3.1300               1            100   3.12
600              2106             0.0159              41         0.0195   1.59
601              1859             0.0198              16         0.0086   1.98
602               307             0.0225              10         0.0326   2.25
603               350             0.0206               6         0.0171   2.06
...               ...                ...             ...            ...    ...
2578                4             0.0117               0              0   5.06
2580                1             0.0053               0              0   2.22
2581               27             0.0509               0              0  16.67
2583                1             0.0208               0              0   7.69
2586                3             0.0207               0              0   6.98

[1810 rows x 20 columns]

- Upon inspecting the data, we identified calculation errors in several rows. For example, row 124 ontains a rounding error, and row 600 has a decimal point notation error.  
- We will replace the values in these rows with the newly calculated PUR values and update the original `pur_purchase_rate` column accordingly. After updating the `pur_purchase_rate` column, we will delete the `PUR` column as it is no longer needed.

In [14]:
df.loc[df['pur_purchase_rate'] != df['PUR'], 'pur_purchase_rate'] = df.loc[df['pur_purchase_rate'] != df['PUR'], 'PUR'].values
df = df.drop(columns=['PUR'])

In [15]:
# Cleaning up outliers('rate' column)
# Since the 'rate' columns represent percentages, their values should logically not exceed 100. However, after inspecting the data using describe(), values exceeding 100 were found, indicating the need for data correction.
over_100_rows = df[(df['clk_click_rate'] > 100) | 
                   (df['cart_add_rate'] > 100) | 
                   (df['pur_purchase_rate'] > 100)]

print(over_100_rows)

         week                        search_query  search_query_score  \
54     Week 3  learning toys for kids with autism                  55
127    Week 2                        stim noodles                  28
151    Week 2           stretchy toy for toddlers                  52
153    Week 2                         fidgets asd                  54
159    Week 2                   todler autism toy                  60
...       ...                                 ...                 ...
2583  Week 30                     alzheimers toys                  95
2584  Week 30             crazy glow bungee bandz                  96
2585  Week 30  squishy toys for autistic children                  97
2587  Week 30       huggy wuggy leg stretchy toys                  99
2588  Week 30                  silicone toys kids                 100

      search_quey_volume  imp_total_count  imp_ASIN_count  imp_ASIN_share  \
54                    41             1074               2          0.1900
127                    2               78               2          2.5600
151                    5               95               3          3.1600
153                    2               79               2          2.5300
159                    2              120               2          1.6700
...                  ...              ...             ...             ...
2583                  13             1002               5          0.0050
2584                   2               85               5          0.0588
2585                   2              429               5          0.0117
2587                   1               38               2          0.0526
2588                   1               57               2          0.0351

      clk_total_count  clk_click_rate  clk_ASIN_count  clk_ASIN_share  \
54                 47          114.63               1          2.1300
127                 4          200.00               2         50.0000
151                 8          160.00               1         12.5000
153                 3          150.00               1         33.3300
159                 3          150.00               1         33.3300
...               ...             ...             ...             ...
2583               16          123.08               2          0.1250
2584                3          150.00               2          0.6667
2585               19          950.00               2          0.1053
2587                2          200.00               2          1.0000
2588                2          200.00               2          1.0000

      cart_total_count  cart_add_rate  cart_ASIN_count  cart_ASIN_share  \
54                   3           7.32                1            33.33
127                  2         100.00                2           100.00
151                  5         100.00                1            20.00
153                  3         150.00                1            33.33
159                  2         100.00                1            50.00
...                ...            ...              ...              ...
2583                 4          30.77                1             0.25
2584                 1          50.00                1             1.00
2585                 5         250.00                1             0.20
2587                 1         100.00                1             1.00
2588                 1         100.00                1             1.00

      pur_total_count  pur_purchase_rate  pur_ASIN_count pur_ASIN_share
54                  2               4.88               1             50
127                 1              50.00               1            100
151                 2              40.00               1             50
153                 3             150.00               1          33.33
159                 1              50.00               1            100
...               ...                ...             ...            ...
2583                1               7.69               0              0
2584                0               0.00               0              -
2585                0               0.00               0              -
2587                0               0.00               0              -
2588                0               0.00               0              -

[537 rows x 19 columns]

- A total of 537 rate outliers were found. This could occur due to a mismatch between search_query_volume and actual behavior (e.g., multiple products being shown for the same query), or due to missing or duplicated data in `search_query_volume`. This observation suggests there may be issues with the data collection for the `search_query_volume` column.
- To preserve the data, we will apply clipping to the rate columns, limiting their values to 100.

In [16]:
# Clip the values of rate columns (clk_click_rate, cart_add_rate, pur_purchase_rate) to 100
df['clk_click_rate'] = df['clk_click_rate'].clip(upper=100)
df['cart_add_rate'] = df['cart_add_rate'].clip(upper=100)
df['pur_purchase_rate'] = df['pur_purchase_rate'].clip(upper=100)

In [17]:
df.describe()

,search_query_score,search_quey_volume,imp_total_count,imp_ASIN_count,imp_ASIN_share,clk_total_count,clk_click_rate,clk_ASIN_count,clk_ASIN_share,cart_total_count,cart_add_rate,cart_ASIN_count,cart_ASIN_share,pur_total_count,pur_purchase_rate,pur_ASIN_count
count,2575.000000,2.575000e+03,2.575000e+03,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,50.455534,5.855398e+03,1.513293e+05,390.249709,0.451757,1647.321165,58.924478,4.864466,4.090996,514.140194,31.258318,2.701748,5.977720,130.405825,15.321379,1.043107
std,28.786616,7.639875e+04,1.785279e+06,2066.258584,1.045654,14526.554816,32.195466,20.433603,15.875465,4753.796453,29.971710,10.354984,19.874344,1813.030974,27.265076,3.364898
min,1.000000,1.000000e+00,1.400000e+01,1.000000,0.000000,1.000000,5.330000,0.000000,0.000000,1.000000,0.260000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,26.000000,1.200000e+01,5.385000e+02,10.000000,0.007200,9.000000,29.155000,1.000000,0.011300,4.000000,8.640000,1.000000,0.022700,1.000000,1.450000,0.000000
50%,50.000000,1.340000e+02,5.053000e+03,60.000000,0.017800,67.000000,48.310000,2.000000,0.076900,21.000000,18.420000,1.000000,0.166700,5.000000,3.720000,1.000000
75%,75.000000,8.530000e+02,3.018950e+04,243.500000,0.064850,374.500000,100.000000,3.000000,0.880000,111.000000,44.435000,2.000000,1.000000,21.500000,12.285000,1.000000
max,100.000000,3.313904e+06,7.767592e+07,47625.000000,11.110000,570036.000000,100.000000,574.000000,100.000000,184445.000000,100.000000,301.000000,100.000000,76767.000000,100.000000,103.000000

In [18]:
# Delete unnecessary columns
columns_to_drop = ['imp_total_count', 'imp_ASIN_count', 'imp_ASIN_share', 
                   'clk_ASIN_count', 'clk_ASIN_share', 'cart_ASIN_count', 
                   'cart_ASIN_share', 'pur_ASIN_count', 'pur_ASIN_share']

df.drop(columns=columns_to_drop, inplace=True)
df.head()

,week,search_query,search_query_score,search_quey_volume,clk_total_count,clk_click_rate,cart_total_count,cart_add_rate,pur_total_count,pur_purchase_rate
0,Week 3,sensory toys,1,35253,9358,26.55,2899,8.22,526,1.49
1,Week 3,sensory toys for autistic children,2,23354,7784,33.33,2086,8.93,325,1.39
2,Week 3,sensory toys for kids 5-7,3,6531,1812,27.74,550,8.42,116,1.78
3,Week 3,autism sensory toys,4,6932,1829,26.38,559,8.06,95,1.37
4,Week 3,autism sensory products,5,4218,1173,27.81,286,6.78,16,0.38

## 3. EDA

## 4. Modeling

## 5. Model Evaluation

## 6. Results & Insights

## 7. References